<ng-container>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Ac turpis egestas maecenas pharetra. Risus quis varius quam quisque id diam. Gravida dictum fusce ut placerat orci. Tincidunt praesent semper feugiat nibh.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Nisl tincidunt eget nullam non nisi est. Arcu bibendum at varius vel. Ipsum dolor sit amet consectetur. Eget lorem dolor sed viverra ipsum nunc aliquet. </p>
    <p>Scelerisque purus semper eget duis at tellus at urna. Integer enim neque volutpat ac tincidunt vitae. Sit amet risus nullam eget felis eget nunc lobortis mattis. Aliquet porttitor lacus luctus accumsan tortor. Sed velit dignissim sodales ut eu sem integer vitae justo. Sit amet volutpat consequat mauris nunc congue nisi. Vitae justo eget magna fermentum iaculis. Turpis egestas sed tempus urna et pharetra pharetra massa. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Sed enim ut sem viverra aliquet eget sit.</p>
    <p>
     <span>Recusandae eveniet possimus laboriosam alias cum atque odit debitis fuga repellendus incidunt pariatur, aliquam libero assumenda, distinctio corporis ut saepe! Expedita vitae mollitia nam tenetur voluptatibus error eveniet culpa sit?</span>
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quidem non, nulla sint possimus alias exercitationem itaque placeat, cumque quis labore est deleniti. Numquam dolore quae molestias nam ipsum. Recusandae.</p>
    <p>Aliquid quidem non, nulla sint possimus alias exercitationem itaque placeat, cumque quis labore est deleniti.</p>
    <p>Numquam dolore quae molestias nam ipsum. Recusandae.</p>
  </ng-container>
  <!-- <div class="agree-btn text-right" (nzOnCancel)="handleCancel()">
    <button nz-button="" ng-reflect-nz-type="primary" ng-reflect-nz-loading="false" ng-reflect-disabled="false" class="ant-btn ant-btn-primary">Agree </button>
  </div> -->
