<div class="verify-email-div">

    <div class="verify-email-content position-relative">
        <div class="verify-email-box">
            <div class="verify-email-img">
                <img src="../../../../assets/images/signup/email-verify.svg" class="mb-4 img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Verify Email Image" width="80%">
            </div>
            <!-- verify-email-img -->
            <div class="verify-email">
                <h5 class="text-primary fw-500 title">
                    Please verify your email first to get started...
                </h5>
                <p class="f-12  fw-500">Don't forgot to check (spam folder)</p>
                <p class="f-12 font-weight-bold">Didn't receive the verification link yet?  <a href="javascript:0" (click)="resendVerificationEmail()" class="text-primary"> Resend link</a></p>
            </div>
            <!-- verify-email -->
        </div>
        <!-- verify-email-box -->
    </div>
    <!-- verify-email-content -->

</div>
<!-- verify-email-div -->
