<div>
  <div class="login-page boxContainer">
    <div class="col-xl-8 m-auto">
      <div class="text-dark font-size-24 mb-5 mx-auto text-center w-75">
        <h1 class="font-weight-bold" style="color: #192A3E;">STACKET LOGO</h1>
        <!-- <img src="assets/images/casolve-logo.png" height="100%" width="80%" alt="Casolve Site Logo"> -->
      </div>
      <div class="color-dark-blue font-size-24 mb-4">
        <strong>Reset Your Password</strong>
      </div>
      <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form" novalidate>
        <nz-form-item>
          <nz-form-control>
            <input class="input-lg-height" type="text" nz-input nzSize="large" formControlName="email"
              placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && email.errors }" />
            <div class="text-danger f-12">
              <ng-container *ngIf="submitted && email.hasError('required')">Email is Required</ng-container>
              <ng-container *ngIf="submitted && email.hasError('pattern') && !email.hasError('required')">Email is
                Invalid
              </ng-container>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button [nzSize]="'large'" class="custom text-center w-100" [nzLoading]="loading">
              <span class="f-14 fw-500">Reset</span>
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <a routerLink="/auth/login" class="kit__utils__link f-13">
        <i class="fe fe-arrow-left mr-1 align-middle"></i>
        Back to Login
      </a>
    </div>
  </div>
</div>