<div class="boxContainer login-page">
    <div class="col-xl-8 m-auto">
    <div class="text-dark font-size-24 mb-5 mx-auto text-center w-75">
        <!-- <h1 class="font-weight-bold" style="color: #456990;">LOGO</h1> -->
        <img src="assets/images/casolve-logo.png" height="100%" width="80%" alt="Casolve Site Logo">
    </div>
    <div class="text-dark font-size-24 mb-4">
        <strong>{{creatingNewPassword ? 'New Password' : 'Reset Password' }}</strong>
    </div>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
        <nz-form-item class="mb-4">
            <label>Password <span class="text-danger">*</span></label>
            <nz-form-control>
                <input type="password" nz-input formControlName="password" nzSize="large"
                    placeholder="Enter your Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div class="text-danger f-12">
                    <ng-container *ngIf="submitted && f.password.hasError('required')">Password is Required</ng-container>
                    <ng-container *ngIf="submitted && f.password.hasError('pattern') && !f.password.hasError('required')">
                        Please enter the Password, Minimum 8 characters (use uppercase, lowercase, digits and special
                        characters)
                    </ng-container>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-4">
            <label>Confirm Password <span class="text-danger">*</span></label>
            <nz-form-control>
                <input type="password" nz-input nzSize="large" formControlName="confirmPassword"
                    placeholder="Enter Confirm Password"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div class="text-danger f-12">
                    <ng-container *ngIf="submitted && f.confirmPassword.hasError('required')">
                        Confirm Password is Required & Must Match with New Password Field
                    </ng-container>
                    <ng-container *ngIf="submitted && f.confirmPassword.invalid && !f.confirmPassword.hasError('required')">
                        Confirm Password should match with New Password Field
                    </ng-container>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button *ngIf="!creatingNewPassword" nz-button [nzSize]="'large'" class="custom text-center w-100"
                    [nzLoading]="loading">
                    <span class="f-14 fw-500">Reset</span>
                </button>
                <button *ngIf="creatingNewPassword" nz-button [nzSize]="'large'" class="text-center w-100 custom"
                    [nzLoading]="loading">
                    <strong>Create Password</strong>
                </button>
            </nz-form-control>
        </nz-form-item>

    </form>
    <a routerLink="/auth/login" class="kit__utils__link font-size-16">
        <i class="fe fe-arrow-left mr-1 align-middle"></i>
        Go to Sign in
    </a>
</div>
</div>