
.steps-content {
    margin-top: 16px;
    background-color: #fff;
    min-height: 200px;
    text-align: center;
    padding: 20px;
  }

  .steps-action {
    margin-top: 24px;
  }

  button {
    margin-right: 8px;
  }

  

  