<div [formGroup]="caseWorkInCanada">

    <mat-form-field class="col-xl-6 mb-2">
        <mat-select formControlName="isHavingOffer"
            placeholder="Do you have an offer of employment in Canada approved by the Human Resources Development Canada?">
            <mat-option [value]="false">No</mat-option>
            <mat-option [value]="true">Yes</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col-xl-6 mb-2">
        <mat-select formControlName="isCurrentlyWorkinInCanada"
            placeholder="Are you currently working in Canada under a work permit?">
            <mat-option [value]="false">No</mat-option>
            <mat-option [value]="true">Yes</mat-option>
        </mat-select>
    </mat-form-field>
    
</div>
