// card box starts

.card.card-box {
    padding: 30px 0;
    box-shadow: 0px 1px 12px gainsboro;
    height: 510px;
}
.card.card-box {
    li i {
        font-size: 24px;
    }

    .get-plan-btn button {
        width: 60%;
        padding: 10px !important;
    }
    .plan-description {
        min-height: 250px;
        overflow: auto;
    }
}
.current-plan-div {
    line-height: 1.15;

    .numberOfUsersText {
        font-size: 1.35rem;
    }
}
p.font-danger {
    margin-bottom: 0;
}
.trial-expiry-info {
    background-color: #f8e4c3;
    color: #354456;
}
.plans-div {
    .free-trail-expire-div {
        background: #fff;
        // box-shadow: 0px 4px 8px #efefef;
        box-shadow: 0px 2px 10px #ddd;
        padding: 10px 0px;
    }

    .upgrade-billing-btn {
        font-size: 12px !important;
        letter-spacing: -0.3px;
        padding: 5px 15px !important;
        transition: 0.3s linear;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        margin-top: -3px;
        border-radius: 3px !important;
    }

    .plan-title {
        font-size: 42px;
        margin: 0;
    }

    .currency-detail-div {
        color: #42baf9;

        & .currency-sign {
            font-size: 24px;
        }
        & .price-per-user {
            font-size: 36px;
        }
    }

    .upgrade-plan-btn {
        background-color: #43ce5a;
        border-color: #43ce5a;
        opacity: 1;
        font-size: 12px;
        letter-spacing: -0.3px;
        min-width: 95px;
        padding: 5px 15px;
        box-shadow: 0px 2px 6px #43ce5a;
        transition: 0.3s linear;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        margin-top: -4px;
        margin-left: 10px;
        float: right;

        &:hover {
            transition: 0.3s linear;
            -webkit-transition: 0.3s linear;
            -moz-transition: 0.3s linear;
            -ms-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            border-color: #1ac636 !important;
            background-color: #1ac636 !important;
        }
    }
    .cancelSubscriptionBtn {
        background-color: #f5222e !important;
        border-color: #f5222e !important;
        box-shadow: 0px 2px 6px #e00e1a !important;

        &:hover {
            background-color: #e00e1a !important;
        }
    }
}

.cancelsub-plan-btn {
    background-color: #f5222e;
    border-color: #f5222e;
    opacity: 1;
    font-size: 12px;
    letter-spacing: -0.3px;
    min-width: 95px;
    padding: 4px;
    box-shadow: 0px 2px 6px #f5222e;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    margin-top: -2px;

    &:hover {
        transition: 0.3s linear;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        border-color: #c82333 !important;
        background-color: #c82333 !important;
    }
}

.pricing-plan-div {
    .get-plan-btn {
        display: grid;
    }
    section {
        color: #7a90ff;
        margin-top: -10px;
        min-height: 100%;
        position: relative;
        -webkit-font-smoothing: antialiased;
    }

    .pricing {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto 3em;
    }

    .pricing-item {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: stretch;
        align-items: stretch;
        text-align: center;
        -webkit-flex: 0 1 330px;
        flex: 0 1 330px;
        margin: 15px 0;
    }

    .pricing-action {
        color: inherit;
        border: none;
        background: none;
        cursor: pointer;
    }

    .pricing-action:focus {
        outline: none;
    }

    .pricing-feature-list {
        text-align: left;
    }
    .plan-description {
        height: 240px;
        overflow: auto;
    }
    .pricing-palden .pricing-item {
        font-family: "Open Sans", sans-serif;
        cursor: default;
        color: #84697c;
        background: #fff;
        box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
        // border-radius: 20px 20px 10px 10px;
    }
    .currentSubscribedPlan {
        .pricing-deco {
            background: linear-gradient(135deg, #a93bfe, #584efd);
        }
        .pricing-action,
        .currentPlanBtn {
            background: linear-gradient(135deg, #a93bfe, #584efd);
            width: 100%;
            margin: 1em !important;

            &:hover {
                background: linear-gradient(135deg, #463bf1, #a02ef8) !important;
            }
        }

        .pricing-palden .pricing-title {
            font-size: 0.9em;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: #fff;
            padding: 0 10px;
        }

        .pricing-palden .deco-layer {
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
        }

        .pricing-palden .pricing-item:hover .deco-layer--1 {
            -webkit-transform: translate3d(15px, 0, 0);
            transform: translate3d(15px, 0, 0);
        }

        .pricing-palden .pricing-item:hover .deco-layer--2 {
            -webkit-transform: translate3d(-15px, 0, 0);
            transform: translate3d(-15px, 0, 0);
        }

        .pricing-palden .icon {
            font-size: 2.5em;
        }

        .pricing-palden .pricing-price {
            font-size: 5em;
            font-weight: bold;
            padding: 0;
            color: #fff;
            margin: 0 0 0.25em 0;
            line-height: 0.75;
        }

        .pricing-palden .pricing-currency {
            font-size: 0.18em;
            vertical-align: top;
        }
        .pricing-palden .pricing-currency-type {
            font-size: 0.7em;
        }

        .pricing-palden .pricing-period {
            font-size: 0.15em;
            font-style: italic;
        }

        .pricing-palden .pricing__sentence {
            font-weight: bold;
            margin: 0 0 1em 0;
            padding: 0 0 0.5em;
        }

        .pricing-palden .pricing-feature-list {
            margin: 0;
            padding: 0.5em 0 1.5em;
            list-style: none;
            text-align: center;
            margin-top: -6px;
        }

        .pricing-palden .pricing-feature {
            padding: 0.3em 1em;
            word-break: break-all;
        }
        .currentPlanBtn.currentPlanBtn01 {
            margin-right: 0.5em !important;
            // cursor: no-drop;
            &:hover {
                background: linear-gradient(135deg, #a93bfe, #584efd);
            }

            &:disabled {
                cursor: no-drop;
            }
        }
        .currentPlanBtn.currentPlanBtn02 {
            margin-left: 0.5em !important;
        }

        .get-plan-btn {
            display: flex;
        }
    }

    @media screen and (min-width: 66.25em) {
        .pricing-palden .currentSubscribedPlan {
            margin: -10px -5px;
            z-index: 10;
            box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
        }
    }

    .pricing-palden .pricing-deco {
        background: linear-gradient(135deg, #4097f9, #0af0c7);
        padding: 3em 0 5em;
        position: relative;
    }
    .currentSubscribedPlan .pricing-deco {
        background: linear-gradient(135deg, #a93bfe, #584efd);
    }

    .pricing-palden .pricing-deco-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    .pricing-palden .pricing-title {
        font-size: 0.9em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #fff;
    }

    .pricing-palden .deco-layer {
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }

    .pricing-palden .pricing-item:hover .deco-layer--1 {
        -webkit-transform: translate3d(15px, 0, 0);
        transform: translate3d(15px, 0, 0);
    }

    .pricing-palden .pricing-item:hover .deco-layer--2 {
        -webkit-transform: translate3d(-15px, 0, 0);
        transform: translate3d(-15px, 0, 0);
    }

    .pricing-palden .icon {
        font-size: 2.5em;
    }

    .pricing-palden .pricing-price {
        font-size: 5em;
        font-weight: bold;
        padding: 0;
        color: #fff;
        margin: 0 0 0.25em 0;
        line-height: 0.75;
    }

    .pricing-palden .pricing-currency {
        font-size: 0.18em;
        vertical-align: top;
    }
    .pricing-palden .pricing-currency-type {
        font-size: 0.7em;
    }

    .pricing-palden .pricing-period {
        font-size: 0.15em;
        font-style: italic;
    }

    .pricing-palden .pricing__sentence {
        font-weight: bold;
        margin: 0 0 1em 0;
        padding: 0 0 0.5em;
    }

    .pricing-palden .pricing-feature-list {
        margin: 0;
        padding: 0.5em 0 1.5em;
        list-style: none;
        text-align: center;
        margin-top: -6px;
    }

    .pricing-palden .pricing-feature {
        padding: 0.3em 1em;
        word-break: break-all;
    }

    .pricing-palden .pricing-action {
        font-weight: bold;
        margin: 1em 3em;
        padding: 0.7em 1em;
        color: #fff;
        border-radius: 30px;
        background: linear-gradient(135deg, #42baf9, #1292d5);
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }
    .currentSubscribedPlan .pricing-action {
        background: linear-gradient(135deg, #a93bfe, #584efd);
    }

    .pricing-palden .pricing-action:hover,
    .pricing-palden .pricing-action:focus {
        background: linear-gradient(135deg, #1292d5, #42baf9);
    }

    .pricing-palden .pricing-item--featured .pricing-deco {
        padding: 5em 0 8.885em 0;
    }
}
// card box ends

// Responsiveness

@media only screen and (max-width: 992px) {
    .get-plan-btn button {
        width: 100% !important;
    }
    .card.card-box {
        padding: 30px 15px;
    }
}
@media only screen and (max-width: 479px) {
    .card.card-box {
        li i {
            font-size: 20px;
            margin-right: 8px !important;
        }
        ul li {
            padding-top: 12px !important;
        }
    }
    .cui__utils__content {
        padding-bottom: 0;
    }
}

.trial-expiry-danger {
    background-color: #f5222ed4;
}
