@import 'src/app/components/mixins.scss';

.authContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;

  // flex-shrink: 0;
  >.feature {
    background-color: #192A3E;
    height: 100vh;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    display: flex;
    min-width: 55%;
  }

  >.router {
    background-color: #fff;
    height: 100vh;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    display: flex;
    min-width: 45%;
  }

  &.white {
    background: $white;
  }

  &.gray {
    background: $gray-1;
  }

  h1 {
    font-size: 2rem;
    padding-top: 40px;
  }

  p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    color: #cbd6df;
  }

}

@media only screen and (max-width: 768px) {
  .feature {
    display: none !important;
  }
}

[nz-carousel-content] {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  padding: rem(30);
}

.containerInner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

h1,
p {
  color: #fff;
  margin-bottom: 0;
}

.topbar {
  height: rem(64);
  border-bottom: 1px solid $border;
  background: $white;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: rem(28);
  width: 100%;

  &.topbarGray {
    background: $gray-1;
  }
}

.logoContainer {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 rem(28) 0 0;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: rem(24);
    white-space: nowrap;
    width: 100%;
  }

  .name {
    font-size: rem(20);
    font-weight: 700;
    color: $black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;
    display: block;
  }

  .descr {
    margin-left: rem(13);
    padding-left: rem(13);
    height: rem(38);
    line-height: rem(38);
    border-left: 1px solid $gray-2;
    font-size: rem(14);
  }
}

.footerNav {
  li {
    margin: rem(5) rem(14);
  }
}

// dark theme
:host-context([data-kit-theme='dark']) {
  .authContainer {
    background: transparent !important;
  }

  .topbar {
    background: $dark-gray-5 !important;
    border-bottom: 1px solid $dark-gray-4 !important;
  }

  .logoContainer {
    .name {
      color: $white;
    }

    .descr {
      color: $dark-gray-2;
      border-left: 1px solid $dark-gray-4;
    }
  }
}